CSVs/all_data.csv
CSVs/GeneratedLabelledFlows.md5
CSVs/GeneratedLabelledFlows.zip
CSVs/MachineLearningCSV.md5
CSVs/MachineLearningCSV.zip
CSVs/TrafficLabelling /Friday-WorkingHours-Afternoon-DDos.pcap_ISCX.csv
CSVs/TrafficLabelling /Friday-WorkingHours-Afternoon-PortScan.pcap_ISCX.csv
CSVs/TrafficLabelling /Friday-WorkingHours-Morning.pcap_ISCX.csv
CSVs/TrafficLabelling /Monday-WorkingHours.pcap_ISCX.csv
CSVs/TrafficLabelling /Thursday-WorkingHours-Afternoon-Infilteration.pcap_ISCX.csv
CSVs/TrafficLabelling /Thursday-WorkingHours-Morning-WebAttacks.pcap_ISCX.csv
CSVs/TrafficLabelling /Tuesday-WorkingHours.pcap_ISCX.csv
CSVs/TrafficLabelling /Wednesday-workingHours.pcap_ISCX.csv
*.csv
*.zip
*.npy
CIC-IDS-2017/CSVs/MachineLearningCSV.md5
